input {
  width: 600px;
  font-size: 16px;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #c7c7cc;
  background-color: #f2f2f7;
  color: #000;
  margin-bottom: 15px;

  &::placeholder {
    color: #c7c7cc;
  }

  &:focus {
    outline: none;
    background: linear-gradient(to right, #0066cc, #33ccff);
    color: #fff;

    &::placeholder {
      color: #e0e0e0;
    }
  }
}

form {
  &:first-child {
    margin-top: 70px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth {
  background: linear-gradient(to right, #0066cc, #33ccff);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
