.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.LogoWrapper {
  display: flex;
  align-items: center;
}
.LogoImage {
  margin-right: 10px;
  vertical-align: middle;
}
.LogoText {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  background: linear-gradient(to right, #55bef0, #00adff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ButtonWrapper {
  display: flex;
  align-items: center;
}
.Button {
  background: linear-gradient(to right, #55bef0, #00adff);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
