//Обнуление всех свойств элементов:
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
  scroll-behavior: smooth;
  cursor: default;
}

//Обнуление свойств тега body
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}

//Обнуление стилей для списков
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

//Обнуление стилей для ссылок
a {
  text-decoration: none;
  color: inherit;
}

//Обнуление стилей для изображений
img {
  display: block;
  max-width: 100%;
  height: auto;
}

//Обнуление input
input {
  appearance: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}

// Обнуление стилей для кнопки
button {
  // Сброс стилей
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  cursor: pointer;

  // Наследование шрифта
  font-family: inherit;

  // Установка стиля текста
  text-align: left;
  text-decoration: none;

  // Убираем стили для списков, когда кнопка используется внутри
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  // Определение стилей для состояний
  &:hover,
  &:active,
  &:focus {
    // Добавьте свои стили при необходимости
  }

  // Определение стилей для дочерних элементов
  > * {
    // Добавьте свои стили при необходимости
  }
}
