.Institute-page {
  background: #f5dfd1;
  padding: 40px 0;

  .Institute-name {
    margin: 0 0 20px 0;
    text-align: center;
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .Institute-description {
    margin: 0 auto;
    text-align: justify;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 1080px;
  }
  .Institute-screenshot {
    margin: 20px auto;
    text-align: center;
    width: 1080px;
  }
  .Institute-incomer {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .black-stripe {
    background-color: black;
    height: 1px;
    width: 100%;
  }
  .IenteredButton {
    background: #000;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    &:hover {
      background-color: transparent;
      color: black;
      backdrop-filter: blur(10px);
      opacity: 1;
    }
  }
}
