::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #09bc8a;
}

input {
  box-sizing: border-box;
  width: 600px;
  height: 90px;
  left: 660px;
  top: 306px;
  margin-top: 2em;
  background: #ffffff;
  border: 5px solid #3a606e;
  border-radius: 30px;
}

button {
  font-family: "Montserrat", sans-serif;
  color: #09bc8a;
  box-sizing: border-box;
  font-size: 36px;
  width: 180px;
  height: 90px;
  left: 870px;
  top: 791px;

  background: #ffffff;
  border: 5px solid #3a606e;
  border-radius: 30px;
}
