.block {
  margin-top: 50px;
  color: #09bc8a;
  font-size: 48px;
}

h1 {
  font-weight: bold;
}

.map {
  margin-top: 60px;
  height: 600px;
  width: 600px;
  background: gray;
}

.block {
  display: flex;
}

.map-block {
  flex: 50%;
}

.right {
  font-size: 40px;
  flex: 50%;
  margin-top: 60px;
}

.menu {
  width: 600px;
  border-color: #3a606e;
  border-width: 3px;
}

.menu-child {
  border-bottom: 1px solid #3a606e;
}

.menu-child:active {
  background-color: #3a606e;
  color: #09bc8a;
}

#square {
  float: left;
}
