.site {
  color: #09bc8a;
  border-radius: 15px;
  border-color: #3a606e;
  background-color: #3a606e;
  padding: 20px 30px;
  font-size: 32px;
  border-style: none;
  margin-left: 600px;
}

.find {
  color: #09bc8a;
  border-radius: 15px;
  border-color: #3a606e;
  background-color: #3a606e;
  padding: 20px 11px;
  font-size: 32px;
  margin-left: 23px;
  border-style: none;
}
