.main {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 360px;
  font-size: 24px;
  margin-left: 650px;
}

.change {
  margin-left: 38px;
  border-color: #09bc8a;
  background-color: white;
  color: #09bc8a;
  width: 100px;
}

.change:hover {
  background-color: #09bc8a;
  color: white;
}

p {
  font-size: 24px;
}
