.info {
  text-align: center;
  margin-top: 200px;
  font-size: 24px;
}

.name {
  margin-bottom: 50px;
}

.university {
  margin-bottom: 50px;
}

.settings {
  margin-bottom: 50px;
  font-size: 24px;
  color: #09bc8a;
  border-color: #09bc8a;
}

.exit {
  margin-bottom: 100px;
  color: #09bc8a;
  border-color: #09bc8a;
}

.exit:hover {
  background-color: #09bc8a;
  border-color: #09bc8a;
}

.settings:hover {
  background-color: #09bc8a;
  color: white;
}

.back:hover {
  cursor: pointer;
}
